@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,200&family=Open+Sans:wght@300;400&display=swap');

:root{
    --primary: #faf7f2;
    --secondary: white;
    --heading: #4d8bc4;
    /* rgb(115, 204, 255) */
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    /* max-width: 100%; */
    min-width: min-content;
    overflow-x: hidden;
    max-width: 800px;
    margin: auto;
}


/* html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
} */

/* body{
    margin-left: auto;
    margin-right: auto;
} */

.sideNav{
    display: none;
    height: 100%;
    width: 300px;
    z-index: 2;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: black;
    overflow-x: hidden;
    transition: 0.3s;
    padding: 50px;
    opacity: 1;
}

.sideNav a{
    padding: 50px;
    display: block;
    font-size: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.sideNav a:hover{
    text-decoration: underline;
}

.sideNav button{
    margin: 70px;
    width: 100%;
    transform: scale(1.7,1.7);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
}

.first{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* max-height: 500px; */
    background-color: var(--primary);

}

/* .background{
    width: 100%;
    top: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.second{
    width: 100%;
    height: 100%;
    /* max-height: 500px; */
    background-color: var(--secondary);
}

h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 30px;
    color: var(--heading);
}

.card{
    width: 250px;
    height: 300px;
    background-color: var(--secondary);
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    margin: 50px;
    min-width: 200px;
}

.card q{
    padding:15px;
}

.card img{
    width: 30%;
    padding: 20px 20px;
    filter: grayscale(100%);
}

hr{
    width: 100%;
    height: 5px;
    background-color: yellowgreen;
    position: absolute;
    bottom: 0px;
}

.slider{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
}

.card:hover{
    transform: scale(1.1,1.1);
    transition: 0.3s;
    box-shadow: 0px 0px 10px black;
}

.card:hover hr{
    background-color: rgb(0, 200, 255);
    transition: 0.3s;
}

.third{
    width: 100%;
    height: 150%;
    /* max-height: 800px; */
    background-color: var(--secondary);
    position: relative;
}

B{
    font-family: 'Open Sans', sans-serif;
}

.card-2 p{
    font-family: 'Montserrat', sans-serif;
}

.card-2 footer{
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
}

.subContent{
    position: relative;
    max-width: 800px;
    margin: auto;
}

.image1{
    /* display: inline; */
    height: 200px;
    /* position: absolute; */
    /* top: -50px; */
    /* margin-left: 60%; */
    float: right;
}

.image2{
    height: 300px;
    /* width: 300px; */
    /* position: absolute; */
    /* margin-left: 60%; */
    float: right;
    /* top:60px; */
}

.image3{
    height: 300px;
    /* position: absolute; */
    /* margin-left: 40%; */
    /* top:-50px; */
    float: right;
}

.card-2{
    width: 200px;
    height: 300px;
    min-width: 200px;
    background-color: var(--primary);
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    margin: 50px;
}

button{
    max-width: 100px;
    border-radius: 20px;
    border: 1px soild black;
    border-color: var(--heading);
    color:var(--heading);
    background-color: white;
    box-shadow: 5px 3px 0px  var(--heading);
    font-size: 15px;
    padding: 10px;
}

button:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

.card-2 div{
    background-color: var(--secondary);
    width: 100px;
    height: 100px;
    position: absolute;
    clip-path: circle(20% at 30% 30%);
}

content{
    position: relative;
    top: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-evenly;
}

button,footer{
    margin: auto;
    margin-top: 10px;
    margin-bottom:0px;
}

.slider-2{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: left;
    flex-wrap: wrap;
}

heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    top: 50px;
}

.description{
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    margin: 20px 0px;
    font-size: larger;
}

.content{
    margin-top: 100px;
    margin-left: 50px;
}

.fourth{
    width: 100%;
    height: 100%;
    max-height: 800px;
    background-color: var(--primary);
    position: relative;
    padding-bottom: 100px;
}

.fifth{
    width: 100%;
    height: 100%;
    /* max-height: 800px; */
    background-color: var(--secondary);
    position: relative;
}

.fourth .card-2{
    background-color: var(--secondary);
}

.fourth div{
    background-color: var(--primary);
}

.fourth h1{
    visibility: hidden;
}

.fifth h1{
    visibility: hidden;
}

li{
    display: inline-block;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

ul{
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    transition: 0.3s;
}

navbar button{
    transform: scale(0.75,0.75);
    margin-bottom: 10px;
}

.sixth{
    width: 100%;
    height: 100%;
    min-height: 300px;
    background-color: var(--secondary);
}

.logo img{
    height: 100%;
    opacity: 0.3;
    margin: 30px;
}

.logo{
    width: 100%;
    height: 70px;
    /* max-height: 800px; */
    display: flex;
    justify-content: space-around;
}

.sixth h1{
    margin: 50px;
}

.seventh{
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-color: var(--primary);
    position: relative;
}

.seventh ul{
    justify-content: space-between;
}

.seventh li{
    opacity: 0.3;
}

nav{
    padding: 15px;
    filter: grayscale(100%)
}

.seventh hr{
    width: 100%;
    height: 5px;
    background-color: grey;
    position: absolute;
    top: 30%;
    filter: grayscale(100%)
}

.social{
    position: relative;
    margin-top: 150px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    filter: grayscale(100%)
}

.social img{
    height: 50%;
    margin: 50px;
    opacity: 0.3;
}

.social img:hover{
    transform: scale(1.1,1.1);
    transition: 0.3s;
}

.seventh footer{
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: small;
    color: gray;
}

q{
    display: block;
    font-style: italic;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

pre{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: small;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

navbar div{
    width: 99%;
    display: flex;
    justify-content: right;
}

.hm{
    position: absolute;
    /* display: none; */
    margin-right: 30px;
    margin-top: 30px;
}

@media screen and (max-width:800px){
    navbar ul{
        visibility: hidden;
    }
    .hm{
        display: block;
        transform: scale(6,6);
    }

    .card{
        width: 30%;
        height: 350px;
    }

    .subContent{
       transform: scale(1.5,1.5);
       padding-bottom: 50px;
    }

    .card-2{
        width: 30%;
        /* height: 30vh; */
    }

    .fourth{
        z-index: 1;
    }

    h1{
        font-size: 60px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .sixth h1{
        padding-bottom: 0;
    }
}